name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      SECURITY_JWT_SECRET: "ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci-ci"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Start dependencies (Postgres + Redis)
        run: |
          docker compose up -d
          for i in {1..30}; do
            if docker compose exec -T postgres pg_isready -U incident -d incident_platform; then
              echo "Postgres is ready"
              break
            fi
            sleep 2
          done
          docker compose ps


      - name: Run tests
        run: ./mvnw -q test
